<%= form_for @taxfree, :html => { :class => "form-horizontal taxfree" } do |f| %>

    <% if @taxfree.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@taxfree.errors.count, "error") %> prohibited this taxfree from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @taxfree.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_name, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:user_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :nationality_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nationality_name, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:nationality_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :passport, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :passport, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:passport]) %>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:birthday]) %>
  </div>
  <div class="control-group">
    <%= f.label :sex_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex_id, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:sex_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :visastatus_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visastatus_id, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:visastatus_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :landingdate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :landingdate, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:landingdate]) %>
  </div>
  <div class="control-group">
    <%= f.label :taxpaymentplace, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :taxpaymentplace, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:taxpaymentplace]) %>
  </div>
  <div class="control-group">
    <%= f.label :taxpaymentoffice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :taxpaymentoffice, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:taxpaymentoffice]) %>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%= error_span(@taxfree[:note]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            taxfrees_path, :class => 'btn btn-default' %>

<% end %>
