<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @taxfree.user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @taxfree.user_name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @taxfree.nationality_id %>
</p>

<p>
  <strong>Nationality name:</strong>
  <%= @taxfree.nationality_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @taxfree.name %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @taxfree.passport %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @taxfree.birthday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @taxfree.sex_id %>
</p>

<p>
  <strong>Visastatus:</strong>
  <%= @taxfree.visastatus_id %>
</p>

<p>
  <strong>Landingdate:</strong>
  <%= @taxfree.landingdate %>
</p>

<p>
  <strong>Taxfreeflg:</strong>
  <%= @taxfree.taxfreeflg_id %>
</p>

<p>
  <strong>Taxpaymentplace:</strong>
  <%= @taxfree.taxpaymentplace %>
</p>

<p>
  <strong>Taxpaymentoffice:</strong>
  <%= @taxfree.taxpaymentoffice %>
</p>

<p>
  <strong>Note:</strong>
  <%= @taxfree.note %>
</p>

<%= link_to 'Edit', edit_taxfree_path(@taxfree) %> |
<%= link_to 'Back', taxfrees_path %>
