<%= form_for @farmer, :html => { :class => "form-horizontal farmer" } do |f| %>

    <% if @farmer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@farmer.errors.count, "error") %> prohibited this farmer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @farmer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :farmer_flg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :farmer_flg, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:farmer_flg]) %>
  </div>
  <div class="control-group">
    <%= f.label :farm_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :farm_name, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:farm_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :catchcopy, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :catchcopy, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:catchcopy]) %>
  </div>
  <div class="control-group">
    <%= f.label :representative, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :representative, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:representative]) %>
  </div>
  <div class="control-group">
    <%= f.label :management_content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :management_content, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:management_content]) %>
  </div>
  <div class="control-group">
    <%= f.label :farm_banner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :farm_banner, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:farm_banner]) %>
  </div>
  <div class="control-group">
    <%= f.label :farm_area, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :farm_area, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:farm_area]) %>
  </div>
  <div class="control-group">
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zipcode, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:zipcode]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :access, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :access, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:access]) %>
  </div>
  <div class="control-group">
    <%= f.label :tel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:tel]) %>
  </div>
  <div class="control-group">
    <%= f.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:fax]) %>
  </div>
  <div class="control-group">
    <%= f.label :twitter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:twitter]) %>
  </div>
  <div class="control-group">
    <%= f.label :facebook, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:facebook]) %>
  </div>
  <div class="control-group">
    <%= f.label :googlemap, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :googlemap, :class => 'form-control' %>
    </div>
    <%= error_span(@farmer[:googlemap]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            farmers_path, :class => 'btn btn-default' %>

<% end %>
