<p id="notice"><%= notice %></p>

<h1>Listing Farmers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Farmer flg</th>
      <th>Farm name</th>
      <th>Catchcopy</th>
      <th>Representative</th>
      <th>Management content</th>
      <th>Farm banner</th>
      <th>Farm area</th>
      <th>Zipcode</th>
      <th>Address</th>
      <th>Access</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Googlemap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.user_id %></td>
        <td><%= farmer.farmer_flg %></td>
        <td><%= farmer.farm_name %></td>
        <td><%= farmer.catchcopy %></td>
        <td><%= farmer.representative %></td>
        <td><%= farmer.management_content %></td>
        <td><%= farmer.farm_banner %></td>
        <td><%= farmer.farm_area %></td>
        <td><%= farmer.zipcode %></td>
        <td><%= farmer.address %></td>
        <td><%= farmer.access %></td>
        <td><%= farmer.tel %></td>
        <td><%= farmer.fax %></td>
        <td><%= farmer.twitter %></td>
        <td><%= farmer.facebook %></td>
        <td><%= farmer.googlemap %></td>
        <td><%= link_to 'Show', farmer %></td>
        <td><%= link_to 'Edit', edit_farmer_path(farmer) %></td>
        <td><%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farmer', new_farmer_path %>
