<%- model_class = Farmer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @farmer.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farmer_flg) %>:</strong></dt>
  <dd><%= @farmer.farmer_flg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farm_name) %>:</strong></dt>
  <dd><%= @farmer.farm_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:catchcopy) %>:</strong></dt>
  <dd><%= @farmer.catchcopy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:representative) %>:</strong></dt>
  <dd><%= @farmer.representative %></dd>
  <dt><strong><%= model_class.human_attribute_name(:management_content) %>:</strong></dt>
  <dd><%= @farmer.management_content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farm_banner) %>:</strong></dt>
  <dd><%= @farmer.farm_banner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:farm_area) %>:</strong></dt>
  <dd><%= @farmer.farm_area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @farmer.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @farmer.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:access) %>:</strong></dt>
  <dd><%= @farmer.access %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tel) %>:</strong></dt>
  <dd><%= @farmer.tel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
  <dd><%= @farmer.fax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
  <dd><%= @farmer.twitter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
  <dd><%= @farmer.facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:googlemap) %>:</strong></dt>
  <dd><%= @farmer.googlemap %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              farmers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_farmer_path(@farmer), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              farmer_path(@farmer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
