<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @farmer.user_id %>
</p>

<p>
  <strong>Farmer flg:</strong>
  <%= @farmer.farmer_flg %>
</p>

<p>
  <strong>Farm name:</strong>
  <%= @farmer.farm_name %>
</p>

<p>
  <strong>Catchcopy:</strong>
  <%= @farmer.catchcopy %>
</p>

<p>
  <strong>Representative:</strong>
  <%= @farmer.representative %>
</p>

<p>
  <strong>Management content:</strong>
  <%= @farmer.management_content %>
</p>

<p>
  <strong>Farm banner:</strong>
  <%= @farmer.farm_banner %>
</p>

<p>
  <strong>Farm area:</strong>
  <%= @farmer.farm_area %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @farmer.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farmer.address %>
</p>

<p>
  <strong>Access:</strong>
  <%= @farmer.access %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @farmer.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @farmer.fax %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @farmer.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @farmer.facebook %>
</p>

<p>
  <strong>Googlemap:</strong>
  <%= @farmer.googlemap %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
